# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = SilentAlice
    email = yumingwu233@gmail.com
[merge]
    tool = vimdiff3
# Save passwd
[credential]
    helper = store
[commit]
    template = ~/.gitmessage

# Using proxy
[http]
    proxy=http://127.0.0.1:1087

[https]
    proxy=https://127.0.0.1:1087
    #sslverify = false

[core]
    pager = less
    excludesfile = ~/.gitignore

# Ignore some file, or assume some file is not changed in this commit
[alias]
    rstauth = !git commit --amend --reset-author --no-edit
    setauth = !git commit --amend --author='Wu Yuming <yumingwu233@gmail.com>' --no-edit

[sendemail]
    smtpencryption
    smtpdomain = huawei.com         # Mine is huawei
    smtpserver = smtpscn.huawei.com # Your smtp server
    smtpserverport = 25             # SMTP port
    smtpuser = Your email account
    supresscc = all                 # Avoid auto cc all users in your patch
    #smtppass = Your passwd
