
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://gitee.com/mirrors/oh-my-zsh
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://gitee.com/mirrors/zsh-syntax-highlighting.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://gitee.com/mirrors/zsh-autosuggestions.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://gitee.com/romkatv/powerlevel10k.git
[submodule "fzf-zsh-plugin"]
	path = fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin.git
